.legend-container {
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 1px solid gray;
  }
.legend-container h2{
    font-size: 0.9rem;
    font-weight: bold;
    margin: 6px;
    
}
.legend-container h1{
    font-size: 1rem;
    font-weight: bolder;
    margin: 3px;
    
}
.legend-container p{
    font-size: 0.7rem;
    margin: 0; /* Resetting default margins */
    line-height: 1; /* Resetting default line-height */
    
}
.legend-item {
    display: flex;
    align-items: center;
  }
  .legend-item span {
display: block;
height: 12.5px;  /* or whatever size you desire */
  width: 12.5px;   /* or whatever size you desire */
  margin-right: 5px; /* space between the square and the text */
 margin: 5px;
}
  
  
  
  
  .legend-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
 
  
  .color-encode {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid;
  }
  