.label {
    display: grid;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
    display: 1;
    width: 70vw;
    background: var(--clr-white);
    max-width: var(--fixed-width);
    padding: 1.5rem 2rem;
    border: 0.1rem solid black;
  }
  .label h1 {
   font-family: 'Helvetica';
   font-size: 1.9rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 3%;
   margin: 0px;
   color: black;
  }
  
  .label h2 {
   font-family:  'Helvetica';
   font-size: 2.1rem;
   font-weight: bold;
   color: black;
  
   margin: 0px;
   
  }
  
  .label h3 {
    font-family:  'Helvetica';
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin: 0px;
    
  }
  .label h4{
    font-family:  'Helvetica';
   font-size: 1.6rem;
   font-weight: bold;
   margin: 0px;
  }
  .label h5{
   font-family:  'Helvetica';
   font-size: 1rem;
   font-weight: lighter ;
   color: black;
   margin: 0px;
  }
  .label p{
   font-family:  'Helvetica';
   font-size: 0.8rem;
   color: black;
   margin: 0px;
  }
  .footnote {
    font-family:  'Helvetica';
   font-size: 0.6rem;
   color: black;
   margin: 0px;
   
  }
  .p-bold{
    font-weight: bold;
    color: black;
  }
  .p-normal {
    font-weight: normal;
    color: black;
  }
  .alignLeft {
    float:left;
  }
  .tab {
    padding-left: 20px; /* Adjust this to the desired indentation */
  }
  .tab2 {
    padding-left: 40px; /* Adjust this to the desired deeper indentation */
  }

  .alignRight {
    float: right;
  }
  .new1{
    border-top: 0.3rem solid black;
  }
  .new2{
    border-top: 0.7rem solid black;
  }

  /* Nutrient.css */

  .info-header-good {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color: #ADFF2F;
    padding: 5px;
  }
  .info-header-bad {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color: #b22222;
    padding: 5px;
  }

  .info-header-normal {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color: #fffaf0;
    padding: 5px;
  }
  
  .info-normal {
    font-size: 1em;
    color: #333;
    margin-top: 5px;
    padding: 5px;
  }

  .all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* vh stands for viewport height. 100vh will cover the full height of the screen */
  }
  
  .color-encode {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle; /* Vertically align the color square with the text */
  }
  